<sly data-sly-use.clientlib="core/wcm/components/commons/v1/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='hm.userdetailsclientlibs'}"/>

</sly>

<div class="cmp-userdetails-card" >


<div data-sly-use.usermodel="com.hm.aem.core.models.UserDetails">



    <div class = "cmp-username-card" > <h2> User Name: ${usermodel.username} </h2> </div>
    <p>Designation: ${usermodel.userdesignation} </p>
    <p>Contact: ${usermodel.usercontact} </p>
    <img src="${usermodel.assetsfolder}" alt=""/>
    <h2> Gender : ${usermodel.gender}</h2>

    </hr>

    <p>API KEY: ${usermodel.ApiKey} </p>
    <p>API URL: ${usermodel.ApiUrl} </p>



</div>

</div>








