.team-carousel{
    width: 100%;
    margin: auto;
}

.team-member{

    text-align: center;
    

}

.team-photo{

width: 200px;
height: 200px;
margin: auto;
display: block;
border-radius: 8px;

}

.team-name{
 font-weight: bold;
 margin-top: 10px;

}

.team-designation{
 font-style: italic;
 color: #666;

}