.cmp-userdetails-card-grey{

    background-color: grey;
    font-size: 50px;
}

    .cmp-userdetails-card-brown{
    background-color: brown;
    margin-top: 10px;

}

.cmp-userdetails-card-pink{
        
    background-color: pink;
    margin-top: 10px;
}

.cmp-userdetails-card-white{

    background-color: white;
    margin-top: 10px;
}

.cmp-username-card{

font-size : 20px;

    }
