<div data-sly-use.faq="com.hm.aem.core.models.FaqComponent" >

<div class="FaqComponent">
<ul class="faq-list">   

<sly data-sly-list.item= "${faq.itemlist}" >

<li class="faq-item">
<button class="faq-question" aria-expanded="false" >
 ${item.question}
</button>

<div class="faq-answer hidden">
${item.answer}

</div>
</li>
</sly>
</ul>
</div>
</div>

<h1>-----------testing--------</h1>

<div data-sly-use.faq="com.hm.aem.core.models.FaqComponent" >
    <div data-sly-list.itemsfaq="${faq.itemlist}">


    <h1> Questions : ${itemsfaq.question}</h1>
    <h1> Answer : ${itemsfaq.answer}</h1>

</div>
</div>
